@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the navbar is on top of other content */
}

.navbar-custom .nav-link {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navbar-custom .nav-link:hover {
  color: lightgray; 
}

.navbar-custom .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.55); 
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas-body {
  background-color: rgba(0, 0, 0, 0.8);
}

.offcanvas-body .nav-link {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.offcanvas-body .nav-link:hover {
  color: lightgray; 
}
